<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4 mb-4">
      <div class="card text-center shadow" (click)="onDeleteOtps()" style="cursor: pointer;">
        <div class="card-body">
          <i class="bi bi-trash-fill text-danger" style="font-size: 3rem;"></i>
          <h5 class="card-title mt-3">Delete OTPs</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card text-center shadow" (click)="onToggleMaintenanceMode()" style="cursor: pointer;">
        <div class="card-body">
          <i class="bi bi-gear-fill text-warning" style="font-size: 3rem;"></i>
          <h5 class="card-title mt-3">Maintenance Mode</h5>
        </div>
      </div>
    </div>
  </div>
</div>
